// Default black theme

// Theme josh is using and modifying to look more parade-ish

// Color variables
$black: #5D9DC2; //actually blue
$red: #bdc7cc; //actually gray
$red-small: #bdc7cc; //actually gray
$white: #fff;

// Config
$color-background: $black !default;
$color-dot-accent: $red !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $red !default;
$color-code: $red-small !default;
$color-nav-link: $red !default;
$color-primary-link: $red !default;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
